<h1>Editing Student</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Show this student", [@project, @student] %> |
  <%= link_to "Back to project", project_path(@project) %>
</div>
